* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ysabeau", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(119, 47, 47);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

h6 {
  font-size: 1.1rem;
  color: rgb(116, 50, 50);
}

nav {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0vw 8vw;
  z-index: 999;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}
nav img {
  width: 120px;
  height: 120px;
  cursor: pointer;
}
nav .navigation {
  display: flex;
}
nav .navigation #menu-close {
  display: none;
}
nav .navigation #menu-btn {
  display: none;
  width: 30px;
  height: 30px;
}
nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .navigation ul li {
  list-style: none;
  margin-left: 30px;
}
nav .navigation ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s ease;
}
nav .navigation ul li a:hover {
  color: red;
}

#home {
  background-image: linear-gradient(rgba(255, 0, 0, 0.116), rgba(255, 217, 0, 0.123)), url("/universityTemplate/images/hog.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}
#home h2 {
  color: white;
  font-size: 2.4rem;
  letter-spacing: 1px;
}
#home p {
  width: 60%;
  color: white;
  font-size: 1.2rem;
  line-height: 25px;
  background: rgba(48, 48, 48, 0.6);
  border-radius: 15px;
}
#home .btn {
  margin-top: 30px;
}
#home a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: white;
  font-weight: 600;
  border-radius: 5px;
}
#home a.red {
  color: white;
  background-color: rgb(150, 24, 24);
  transition: 0.3s ease;
}
#home a.red:hover {
  color: rgb(150, 24, 24);
  background: #fff;
}
#home a.yellow {
  color: black;
  background-color: rgb(255, 230, 0);
  transition: 0.3s ease;
}
#home a.yellow:hover {
  color: rgb(255, 230, 0);
  background-color: black;
}

#features {
  padding: 5vw 8vw 0 8vw;
  text-align: center;
}
#features .fea-box {
  background-color: rgb(255, 241, 241);
  text-align: start;
  padding: 2vw 2vw 2vw 2vw;
}
#features .fea-box i {
  font-size: 2.3rem;
  color: rgb(44, 44, 80);
}
#features .fea-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(46, 46, 59);
  padding: 13px 0 7px 0;
}
#features .fea-box p {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(70, 70, 87);
}
#features .fea-base {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}

#course {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
}
#course .course-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#course .courses {
  text-align: start;
  background-color: #f9f9ff;
  height: 100%;
  position: relative;
}
#course .courses img {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
}
#course .courses .details {
  padding: 15px 15px 0 15px;
}
#course .courses .details i {
  color: #fdc93b;
  font-size: 0.9rem;
}
#course .courses .cost {
  background-color: rgb(136, 74, 74);
  color: white;
  line-height: 70px;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  right: 15px;
  bottom: 90px;
}

#registration {
  padding: 6vw 8vw 6vw 8vw;
  background-image: linear-gradient(rgba(77, 248, 182, 0.151), rgba(81, 91, 233, 0.295)), url("/universityTemplate//images/registration.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#registration .reminder {
  color: white;
}
#registration .reminder h1 {
  color: white;
}
#registration .reminder .time {
  display: flex;
  margin-top: 40px;
}
#registration .reminder .time .date {
  text-align: center;
  padding: 13px 33px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  margin: 0 5px 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 1.1rem;
  font-weight: 600;
}
#registration .form {
  background: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
#registration .form input {
  margin: 15px 0;
  padding: 15px 10px;
  border: 1px solid rgb(2, 151, 64);
  outline: none;
}
#registration .form input::-moz-placeholder {
  color: #413c3c;
  font-weight: 500;
  font-size: 0.9rem;
}
#registration .form input::placeholder {
  color: #413c3c;
  font-weight: 500;
  font-size: 0.9rem;
}
#registration .form a.yellow {
  color: white;
  background-color: rgb(201, 180, 58);
  transition: 0.3s ease;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  font-weight: 600;
  border-radius: 5px;
}
#registration .form a.yellow:hover {
  color: rgb(201, 201, 58);
  background-color: white;
}
#registration .form .btn {
  margin-top: 20px;
}

#experts {
  padding: 8vw 8vw 8vw 8vw;
  text-align: center;
}
#experts .expert-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 50px;
}
#experts .expert-box .profile {
  background: #fafaf1;
  padding: 30px 10px;
}
#experts .expert-box .profile img {
  width: 60%;
  height: 50%;
  border: 5px outset gray;
  border-radius: 5px;
  margin-bottom: 5px;
}
#experts .expert-box .profile .pro-links {
  margin-top: 10px;
  font-size: 1.3rem;
}
#experts .expert-box .profile .pro-links i {
  padding: 10px 13px;
  border: 1px solid rgb(100, 21, 21);
  cursor: pointer;
  transition: 0.5s ease;
}
#experts .expert-box .profile .pro-links i:hover {
  background: rgb(100, 21, 21);
  color: white;
}

footer {
  padding: 8vw;
  background-color: #521a1a;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer .footer-col {
  padding-bottom: 40px;
}
footer h3 {
  color: rgb(241, 240, 245);
  font-weight: 600;
  padding-bottom: 20px;
}
footer li {
  list-style: none;
  color: #7b838a;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
}
footer li:hover {
  color: rgb(241, 240, 245);
}
footer p {
  color: #7b838a;
}
footer .subscribe {
  margin-top: 20px;
}
footer .subscribe a {
  text-decoration: none;
  font-size: 0.9rem;
  padding: 12px 15px;
  background-color: white;
  font-weight: 600;
}
footer .subscribe a.yellow {
  color: black;
  background-color: rgb(255, 230, 0);
  transition: 0.3s ease;
}
footer .subscribe a.yellow:hover {
  color: rgb(100, 21, 21);
  background-color: white;
}
footer input {
  width: 220px;
  padding: 15px 12px;
  background: rgba(54, 54, 54, 0.7254901961);
  border: none;
  outline: none;
  color: white;
}
footer .copyright {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
footer .copyright .pro-links {
  margin-top: 10px;
  font-size: 1.3rem;
}
footer .copyright .pro-links i {
  background-color: #85785f;
  color: white;
  padding: 10px 13px;
  border: 1px solid rgb(100, 82, 21);
  cursor: pointer;
  transition: 0.5s ease;
}
footer .copyright .pro-links i:hover {
  background-color: #fdea3b;
  color: #2c2c2c;
}
footer .copyright p {
  color: white;
}

@media (max-width: 821px) {
  nav {
    padding: 15px 20px;
  }
  nav img {
    width: 130px;
  }
  nav .navigation #menu-close {
    display: initial;
    font-size: 1.6rem;
    color: white;
    padding: 30px 0 20px 20px;
  }
  nav .navigation #menu-btn {
    display: initial;
  }
  nav .navigation ul {
    position: absolute;
    top: 0;
    right: -220px;
    width: 220px;
    height: 100vh;
    background-color: rgba(17, 20, 104, 0.45);
    -webkit-backdrop-filter: blur(4.5px);
            backdrop-filter: blur(4.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.3s ease;
  }
  nav .navigation ul.active {
    right: 0px;
  }
  nav .navigation ul li {
    padding: 20px 0 20px 40px;
    margin-left: 0;
  }
  nav .navigation ul li a {
    color: white;
  }
  #home {
    padding-top: 0px;
  }
  #home p {
    width: 90%;
  }
  #features {
    padding: 8vw 4vw 0 4vw;
  }
  #course {
    padding: 8vw 8vw 0 4vw;
  }
  #registration {
    margin-top: 8vw;
    padding: 6vw 4vw 6vw 4vw;
  }
  #registration .reminder .time {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
@media (max-width: 475px) {
  #registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #registration .reminder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  #home .btn {
    display: flex;
  }
}/*# sourceMappingURL=styles.css.map */